@model DoctorBooking.Models.User


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Message</h3>

<img class="wave" src="~/assets/wave.png">
<div class="container">
    <div class="img">
        <img src="~/assets/undraw_doctors_re_jjho.svg">
    </div>
    <div class="login-content">
        <form action="index.html">
            <img src="~/assets/avatar.svg">
            <h2 class="title">Welcome</h2>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="input-div one">
            <div class="i">
                <i class="fas fa-user"></i>
            </div>
            <div class="div">
                <h5>Username</h5>
                <input type="text" class="input" >
            </div>
        </div>*@
        @*<div class="input-div pass">
            <div class="i">
                <i class="fas fa-lock"></i>
            </div>
            <div class="div">
                <h5>Password</h5>
                <input type="password" class="input">
            </div>
        </div>*@
            <a href="#">Forgot Password?</a>
            <input type="submit" class="btn" value="Login">
        </form>
    </div>
</div>